# WorkShop 2

Let's play with pandas and answer "stakeholders" _questions_.

Problems $2-13$ rely on your `Problem 1` answer.

## Problem  1

Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of __energy_df__.

Keep in mind that this is an _Excel file_, and not a _comma separated values file_. Also, make sure to _exclude_ the footer and header information from the datafile. The first _two columns_ are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

```python
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]
```

Convert `Energy Supply` to _gigajoules_ (there are $1000000$ _gigajoules_ in a _petajoule_**). For all countries which have missing data (_e.g._ data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (_for use in later questions_):

```bash
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
```

There are also several countries with parenthesis in their name. Be sure to _remove these_, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with _Numeric digits_ in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a _csv_ containing countries' GDP from $1960$ to $2015$ from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame __gdp_df__. 

Make sure to _skip the header_, and _rename_ the following list of countries:

```bash
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"
```

Finally, load the [Scimago Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their _journal contributions_ in the aforementioned area. Call this DataFrame __scimago_df__.

Join the _thrgoee datasets_: _energy\_df_, _gdp\_df_ and _scimago\_df_, into a new dataset (using the _intersection_ of _country names_). Use only the _last_ $10$ years ($2006-2015$) of __GDP data__ and only the _top 15 countries_ by __Scimagojr 'Rank'__ (_Rank 1 through 15_). 

The _index_ of this DataFrame should be the __name__ of the country, and the _columns_ should be:
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']`.

_This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank"._

In [179]:
#!pip install xlrd
#!pip install openpyxl
import pandas as pd
import numpy as np
import re

def generate_energy_df():
    energy_df=pd.read_excel('assets\\Energy Indicators.xls')
    replaces_for_country={
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    }
    # YOUR CODE HERE load dataframe and remove header and footer
    energy_df=energy_df.iloc[17:245, 2:]
    # YOUR CODE HERE transform data
    energy_df=energy_df.rename(columns={'Unnamed: 2':'Country Names', 'Unnamed: 3':'Energy Supply', 'Unnamed: 4':'Energy Supply per Capita', 'Unnamed: 5':'% Renewable'})
    energy_df = energy_df.replace('...', np.nan)
    # YOUR CODE HERE transform Country column
    energy_df['Energy Supply']=energy_df['Energy Supply']*10**6
    #Delete () and digits in country names
    energy_df['Country Names'] = energy_df['Country Names'].str.replace(r'\s*\(.*?\)', '', regex=True)
    energy_df['Country Names'] = energy_df['Country Names'].str.replace(r'\d', '', regex=True)
    energy_df['Country Names']=energy_df['Country Names'].replace(replaces_for_country)
    energy_df=energy_df.set_index('Country Names')
    
    return energy_df.head()

def get_GDP_df():
    def is_number(s: str) -> bool:
        """
        Check if a string is a number.

        Args:
            s (str): The string to check.

        Returns:
            A boolean indicating if the string is a number.False
        """
        try:
            int(s)  
            return True
        except ValueError:
            return 

    gdp_df= pd.read_csv('assets\\world_bank.csv')
    gdp_changes={
        'Data Source':'Country Names',
        'World Development Indicators':'Country Code',
        'Unnamed: 2':'Indicator Name',
        'Unnamed: 3':'Indicator Code',
        'Unnamed: 50':'2006',
        'Unnamed: 51':'2007',
        'Unnamed: 52':'2008',
        'Unnamed: 53':'2009',
        'Unnamed: 54':'2010',
        'Unnamed: 55':'2011',
        'Unnamed: 56':'2012',
        'Unnamed: 57':'2013',
        'Unnamed: 58':'2014',
        'Unnamed: 59':'2015'
    }
    country_changes={
        "Korea, Rep.": "South Korea", 
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    }

    gdp_df=gdp_df.iloc[4:]
    gdp_df=gdp_df.rename(columns=gdp_changes)
    # YOUR CODE HERE load data, remove header, adjust column names
    # YOUR CODE HERE transform Country column 
    gdp_df['Country Names']=gdp_df['Country Names'].replace(country_changes)
    gdp_df = gdp_df.drop(gdp_df.columns[1:50], axis=1)
    gdp_df=gdp_df.set_index('Country Names')

    gdp_df.head()
    print(gdp_df.columns)
    print(gdp_df['2015'].head())
    return gdp_df

def get_scimago_df():
    # YOUR CODE HERE load data
    scimago_df=pd.read_excel('assets\\scimagojr-3.xlsx')
    scimago_df=scimago_df.iloc[:15]
    scimago_df=scimago_df.rename(columns={'Contry':'Country Names'})
    scimago_df=scimago_df.set_index('Country Names')
    return scimago_df

def answer_one():
    Data_inner_df= scimago_df.join(energy_df, how='inner').join(gdp_df, how='inner')
    #raise NotImplementedError()
    return Data_inner_df

In [172]:
gdp_df= pd.read_csv('assets\\world_bank.csv')
gdp_changes={
    'Data Source':'Country Names',
    'World Development Indicators':'Country Code',
    'Unnamed: 2':'Indicator Name',
    'Unnamed: 3':'Indicator Code',
    'Unnamed: 50':'2006',
    'Unnamed: 51':'2007',
    'Unnamed: 52':'2008',
    'Unnamed: 53':'2009',
    'Unnamed: 54':'2010',
    'Unnamed: 55':'2011',
    'Unnamed: 56':'2012',
    'Unnamed: 57':'2013',
    'Unnamed: 58':'2014',
    'Unnamed: 59':'2015'
}
country_changes={
    "Korea, Rep.": "South Korea", 
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"
}

gdp_df=gdp_df.iloc[4:]
gdp_df=gdp_df.rename(columns=gdp_changes)
# YOUR CODE HERE load data, remove header, adjust column names
# YOUR CODE HERE transform Country column 
gdp_df['Country Names']=gdp_df['Country Names'].replace(country_changes)
gdp_df = gdp_df.drop(gdp_df.columns[1:50], axis=1)
gdp_df=gdp_df.set_index('Country Names')

gdp_df.head()
print(gdp_df.columns)
print(gdp_df['2015'].head())

Index(['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object')
Country Names
Aruba                   NaN
Andorra                 NaN
Afghanistan    2.029415e+10
Angola         1.039106e+11
Albania        1.312082e+10
Name: 2015, dtype: float64

In [169]:
gdp_df = pd.read_csv('assets\\world_bank.csv')
print(gdp_df.columns)

Index(['Data Source', 'World Development Indicators', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59'],
      dtype='object')

In [146]:
scimago_df=pd.read_excel('assets\\scimagojr-3.xlsx')
scimago_df=scimago_df.iloc[:15]
scimago_df=scimago_df.rename(columns={'Country':'Country Names'})
scimago_df=scimago_df.set_index('Country Names')
scimago_df.head(20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country Names,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86

In [145]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

energy_df=pd.read_excel('assets\\Energy Indicators.xls')
replaces_for_country={
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
}
energy_df=energy_df.iloc[17:245, 2:]
energy_df=energy_df.rename(columns={'Unnamed: 2':'Country Names', 'Unnamed: 3':'Energy Supply', 'Unnamed: 4':'Energy Supply per Capita', 'Unnamed: 5':'% Renewable'})
energy_df = energy_df.replace('...', np.nan)
energy_df['Energy Supply']=energy_df['Energy Supply']*10**6
#Delete () and digits in country names
energy_df['Country Names'] = energy_df['Country Names'].str.replace(r'\s*\(.*?\)', '', regex=True)
energy_df['Country Names'] = energy_df['Country Names'].str.replace(r'\d', '', regex=True)
energy_df['Country Names']=energy_df['Country Names'].replace(replaces_for_country)
energy_df=energy_df.set_index('Country Names')

print(energy_df)

                                            Energy Supply  \
Country Names
Afghanistan                                  3.210000e+08
Albania                                      1.020000e+08
Algeria                                      1.959000e+09
American Samoa                                        NaN
Andorra                                      9.000000e+06
Angola                                       6.420000e+08
Anguilla                                     2.000000e+06
Antigua and Barbuda                          8.000000e+06
Argentina                                    3.378000e+09
Armenia                                      1.430000e+08
Aruba                                        1.200000e+07
Australia                                    5.386000e+09
Austria                                      1.391000e+09
Azerbaijan                                   5.670000e+08
Bahamas                                      4.500000e+07
Bahrain                                      5.740000e+08
Bangladesh                                   1.625000e+09
Barbados                                     1.900000e+07
Belarus                                      1.142000e+09
Belgium                                      2.338000e+09
Belize                                       1.300000e+07
Benin                                        1.700000e+08
Bermuda                                      6.000000e+06
Bhutan                                       6.300000e+07
Bolivia                                      3.360000e+08
Bonaire, Sint Eustatius and Saba             5.000000e+06
Bosnia and Herzegovina                       2.660000e+08
Botswana                                     8.600000e+07
Brazil                                       1.214900e+10
British Virgin Islands                       2.000000e+06
Brunei Darussalam                            1.270000e+08
Bulgaria                                     7.030000e+08
Burkina Faso                                 1.640000e+08
Burundi                                      5.800000e+07
Cabo Verde                                   7.000000e+06
Cambodia                                     2.500000e+08
Cameroon                                     3.070000e+08
Canada                                       1.043100e+10
Cayman Islands                               8.000000e+06
Central African Republic                     2.300000e+07
Chad                                         7.700000e+07
Chile                                        1.613000e+09
China                                        1.271910e+11
Hong Kong                                    5.850000e+08
China, Macao Special Administrative Region   4.700000e+07
Colombia                                     1.513000e+09
Comoros                                      5.000000e+06
Congo                                        1.020000e+08
Cook Islands                                 1.000000e+06
Costa Rica                                   2.220000e+08
Côte d'Ivoire                                5.470000e+08
Croatia                                      3.210000e+08
Cuba                                         5.850000e+08
Curaçao                                      7.800000e+07
Cyprus                                       8.200000e+07
Czech Republic                               1.751000e+09
Democratic People's Republic of Korea        6.120000e+08
Democratic Republic of the Congo             8.880000e+08
Denmark                                      7.250000e+08
Djibouti                                     1.100000e+07
Dominica                                     2.000000e+06
Dominican Republic                           3.390000e+08
Ecuador                                      6.800000e+08
Egypt                                        3.422000e+09
El Salvador                                  1.760000e+08
Equatorial Guinea                            7.300000e+07
Eritrea                                      3.400000e+07
Estonia                                      2.580000e+08
Ethiopia                                     1.394000e+09
Faeroe Islands                               9.000000e+06
Falkland Islands                             1.000000e+06
Fiji                                         3.100000e+07
Finland                                      1.374000e+09
France                                       1.059700e+10
French Guiana                                1.300000e+07
French Polynesia                             1.200000e+07
Gabon                                        9.900000e+07
Gambia                                       1.400000e+07
Georgia                                      1.630000e+08
Germany                                      1.326100e+10
Ghana                                        3.160000e+08
Gibraltar                                    8.000000e+06
Greece                                       9.930000e+08
Greenland                                    9.000000e+06
Grenada                                      5.000000e+06
Guadeloupe                                   3.300000e+07
Guam                                                  NaN
Guatemala                                    4.520000e+08
Guernsey                                     0.000000e+00
Guinea                                       1.450000e+08
Guinea-Bissau                                2.900000e+07
Guyana                                       3.400000e+07
Haiti                                        1.720000e+08
Honduras                                     2.170000e+08
Hungary                                      9.470000e+08
Iceland                                      3.120000e+08
India                                        3.319500e+10
Indonesia                                    8.754000e+09
Iran                                         9.172000e+09
Iraq                                         2.077000e+09
Ireland                                      5.480000e+08
Isle of Man                                  0.000000e+00
Israel                                       9.970000e+08
Italy                                        6.530000e+09
Jamaica                                      1.080000e+08
Japan                                        1.898400e+10
Jersey                                       3.000000e+06
Jordan                                       3.250000e+08
Kazakhstan                                   3.548000e+09
Kenya                                        8.730000e+08
Kiribati                                     1.000000e+06
Kuwait                                       1.475000e+09
Kyrgyzstan                                   1.670000e+08
Lao People's Democratic Republic             8.500000e+07
Latvia                                       1.830000e+08
Lebanon                                      2.890000e+08
Lesotho                                      4.800000e+07
Liberia                                      8.300000e+07
Libya                                        7.070000e+08
Liechtenstein                                3.000000e+06
Lithuania                                    2.820000e+08
Luxembourg                                   1.680000e+08
Madagascar                                   1.660000e+08
Malawi                                       1.010000e+08
Malaysia                                     3.417000e+09
Maldives                                     1.500000e+07
Mali                                         6.600000e+07
Malta                                        3.100000e+07
Marshall Islands                             1.000000e+06
Martinique                                   3.300000e+07
Mauritania                                   5.100000e+07
Mauritius                                    5.800000e+07
Mexico                                       7.944000e+09
Micronesia                                   2.000000e+06
Mongolia                                     4.750000e+08
Montenegro                                   4.200000e+07
Montserrat                                   1.000000e+06
Morocco                                      7.960000e+08
Mozambique                                   4.690000e+08
Myanmar                                      6.820000e+08
Namibia                                      6.300000e+07
Nauru                                        1.000000e+06
Nepal                                        4.580000e+08
Netherlands                                  3.199000e+09
New Caledonia                                5.100000e+07
New Zealand                                  8.760000e+08
Nicaragua                                    1.490000e+08
Niger                                        8.700000e+07
Nigeria                                      5.589000e+09
Niue                                         0.000000e+00
Northern Mariana Islands                              NaN
Norway                                       1.388000e+09
Oman                                         1.015000e+09
Pakistan                                     2.868000e+09
Palau                                        3.000000e+06
Panama                                       1.580000e+08
Papua New Guinea                             1.440000e+08
Paraguay                                     2.280000e+08
Peru                                         8.580000e+08
Philippines                                  1.781000e+09
Poland                                       4.121000e+09
Portugal                                     8.990000e+08
Puerto Rico                                  5.600000e+07
Qatar                                        1.396000e+09
South Korea                                  1.100700e+10
Republic of Moldova                          9.300000e+07
Réunion                                      5.900000e+07
Romania                                      1.339000e+09
Russian Federation                           3.070900e+10
Rwanda                                       9.500000e+07
Saint Helena                                 0.000000e+00
Saint Kitts and Nevis                        4.000000e+06
Saint Lucia                                  6.000000e+06
Saint Pierre and Miquelon                    1.000000e+06
Saint Vincent and the Grenadines             3.000000e+06
Samoa                                        4.000000e+06
Sao Tome and Principe                        3.000000e+06
Saudi Arabia                                 7.985000e+09
Senegal                                      1.540000e+08
Serbia                                       6.180000e+08
Seychelles                                   9.000000e+06
Sierra Leone                                 6.700000e+07
Singapore                                    1.120000e+09
Sint Maarten                                 1.200000e+07
Slovakia                                     7.110000e+08
Slovenia                                     2.870000e+08
Solomon Islands                              6.000000e+06
Somalia                                      1.260000e+08
South Africa                                 6.341000e+09
South Sudan                                  2.800000e+07
Spain                                        4.923000e+09
Sri Lanka                                    3.880000e+08
State of Palestine                           6.100000e+07
Sudan                                        6.080000e+08
Suriname                                     3.400000e+07
Swaziland                                    4.900000e+07
Sweden                                       2.044000e+09
Switzerland                                  1.113000e+09
Syrian Arab Republic                         5.420000e+08
Tajikistan                                   1.060000e+08
Thailand                                     5.336000e+09
The former Yugoslav Republic of Macedonia    1.170000e+08
Timor-Leste                                  7.000000e+06
Togo                                         1.340000e+08
Tonga                                        3.000000e+06
Trinidad and Tobago                          8.240000e+08
Tunisia                                      4.300000e+08
Turkey                                       4.897000e+09
Turkmenistan                                 1.102000e+09
Turks and Caicos Islands                     3.000000e+06
Tuvalu                                                NaN
Uganda                                       4.520000e+08
Ukraine                                      4.844000e+09
United Arab Emirates                         2.710000e+09
United Kingdom                               7.920000e+09
United Republic of Tanzania                  9.940000e+08
United States                                9.083800e+10
United States Virgin Islands                          NaN
Uruguay                                      1.960000e+08
Uzbekistan                                   1.798000e+09
Vanuatu                                      3.000000e+06
Venezuela                                    2.871000e+09
Viet Nam                                     2.554000e+09
Wallis and Futuna Islands                    0.000000e+00
Yemen                                        3.440000e+08
Zambia                                       4.000000e+08
Zimbabwe                                     4.800000e+08
NaN                                                   NaN

                                            Energy Supply per Capita  \
Country Names
Afghanistan                                                     10.0
Albania                                                         35.0
Algeria                                                         51.0
American Samoa                                                   NaN
Andorra                                                        121.0
Angola                                                          27.0
Anguilla                                                       136.0
Antigua and Barbuda                                             84.0
Argentina                                                       79.0
Armenia                                                         48.0
Aruba                                                          120.0
Australia                                                      231.0
Austria                                                        164.0
Azerbaijan                                                      60.0
Bahamas                                                        118.0
Bahrain                                                        425.0
Bangladesh                                                      10.0
Barbados                                                        69.0
Belarus                                                        120.0
Belgium                                                        210.0
Belize                                                          39.0
Benin                                                           16.0
Bermuda                                                         88.0
Bhutan                                                          83.0
Bolivia                                                         32.0
Bonaire, Sint Eustatius and Saba                               213.0
Bosnia and Herzegovina                                          70.0
Botswana                                                        39.0
Brazil                                                          59.0
British Virgin Islands                                          85.0
Brunei Darussalam                                              310.0
Bulgaria                                                        97.0
Burkina Faso                                                    10.0
Burundi                                                          6.0
Cabo Verde                                                      15.0
Cambodia                                                        17.0
Cameroon                                                        14.0
Canada                                                         296.0
Cayman Islands                                                 131.0
Central African Republic                                         5.0
Chad                                                             6.0
Chile                                                           92.0
China                                                           93.0
Hong Kong                                                       82.0
China, Macao Special Administrative Region                      83.0
Colombia                                                        32.0
Comoros                                                          7.0
Congo                                                           23.0
Cook Islands                                                    48.0
Costa Rica                                                      47.0
Côte d'Ivoire                                                   25.0
Croatia                                                         75.0
Cuba                                                            51.0
Curaçao                                                        502.0
Cyprus                                                          71.0
Czech Republic                                                 166.0
Democratic People's Republic of Korea                           25.0
Democratic Republic of the Congo                                12.0
Denmark                                                        129.0
Djibouti                                                        13.0
Dominica                                                        28.0
Dominican Republic                                              33.0
Ecuador                                                         43.0
Egypt                                                           39.0
El Salvador                                                     29.0
Equatorial Guinea                                               91.0
Eritrea                                                          7.0
Estonia                                                        195.0
Ethiopia                                                        15.0
Faeroe Islands                                                 179.0
Falkland Islands                                               258.0
Fiji                                                            36.0
Finland                                                        252.0
France                                                         166.0
French Guiana                                                   52.0
French Polynesia                                                44.0
Gabon                                                           60.0
Gambia                                                           7.0
Georgia                                                         40.0
Germany                                                        165.0
Ghana                                                           12.0
Gibraltar                                                      245.0
Greece                                                          90.0
Greenland                                                      166.0
Grenada                                                         43.0
Guadeloupe                                                      70.0
Guam                                                             NaN
Guatemala                                                       29.0
Guernsey                                                         6.0
Guinea                                                          12.0
Guinea-Bissau                                                   17.0
Guyana                                                          45.0
Haiti                                                           16.0
Honduras                                                        28.0
Hungary                                                         95.0

C:\Users\Familia Mora\AppData\Local\Temp\ipykernel_2572\1287310630.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  energy_df = energy_df.replace('...', np.nan)

In [180]:
Data_inner_df= scimago_df.join(energy_df, how='inner').join(gdp_df, how='inner')
Data_inner_df.shape
#Data_inner_df.head()

(15, 20)

In [181]:
# example of test cases
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"
assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

In [ ]:
# space for proffesor tests

## Problem 2

The _Problem 1_ joined three datasets then reduced this to just the top $15$ entries. When you joined the datasets, but before you reduced this to the top $15$ items, how many entries did you lose?

_This function should return a single number._

In [182]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_two()) == int, "Q2: You should return an int number!"

In [ ]:
# space for proffesor tests

## Problem 3

What are the top $15$ countries for average GDP over the last $10$ years?

_This function should return a Series named `avg_gdp` with $15$ countries and their average GDP sorted in descending order._

In [ ]:
def answer_three():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

In [ ]:
# space for proffesor tests

# Problem 4

By how much had the GDP changed over the $10$ year span for the country with the $6-th$ largest average GDP?

_This function should return a single number._

In [ ]:
def answer_four():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_four()) == float, "Q4: You should return a single number!"

In [ ]:
# space for proffesor tests

## Problem 5

What is the _mean energy supply per capita_?

_This function should return a single number._

In [ ]:
def answer_five():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_five()) == float, "Q5: You should return a single number!"

In [ ]:
# space for proffesor tests

## Problem 6

What __country__ has the _maximum % Renewable_ and what is the _percentage_?

_This function should return a tuple with the name of the country and the percentage._

In [ ]:
def answer_six():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"
assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 7

Create a new column that is the _ratio of Self-Citations to Total Citations_. 
What is the _maximum_ value for this new column, and what _country_ has the _highest ratio_?

_This function should return a tuple with the name of the country and the ratio._

In [ ]:
def answer_seven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"
assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 8

Create a column that estimates the _population using Energy Supply_ and _Energy Supply per capita_. 
What is the _third_ most populous country according to this estimate?

_This function should return the name of the country._

In [ ]:
def answer_eight():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

In [ ]:
# space for proffesor tests

## Problem 9

Create a column that estimates the _number of citable documents per person_. 

What is the correlation between the _number of citable documents per capita_ and the _energy supply per capita_? Use the `.corr()` method, (Pearson's correlation).

_This function should return a single number._

In [ ]:
def answer_nine():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

In [ ]:
# space for proffesor tests

## Problem 10

Create a new column with a $1$ if the _country's % Renewable_ value is at or above the median for all countries in the _top 15_, and a $0$ if the _country's % Renewable_ value is below the median.

_This function should return a series named `high_renew` whose index is the country name sorted in ascending order of rank._

In [ ]:
def answer_ten():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

In [ ]:
# space for proffesor tests

## Problem 11

Use the following dictionary to group the _Countries by Continent_, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the _sum_, _mean_, and _std deviation_ for the estimated population of each country.

```python
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
```

_This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`_

In [ ]:
def answer_eleven():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"
assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"
assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

In [ ]:
# space for proffesor tests

## Problem 12

Cut (check `.cut()` from Pandas) _% Renewable_ into $5$ bins, but in the same column. Group _Top15_ by the _Continent_, as well as these new _% Renewable_ bins. How many countries are in each of these groups? You could check `.size()` as aggregation in group by.

_This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable` (in string datatype). Do not include groups with no countries._

In [ ]:
def answer_twelve():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"
assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

In [ ]:
# space for proffesor tests

## Problem 13

Convert the _Population Estimate_ series to a string with thousands separator (using _dots_). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12.345.678,90

_This function should return a series `pop_est` whose index is the country name and whose values are the population estimate string_

In [ ]:
def answer_thirteen():
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# example of test cases
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"
assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

In [ ]:
# space for proffesor tests